body {
  height:100vh;
  background-image: linear-gradient(#585656, #2E2D2D);
  background-repeat: no-repeat;
}
header {
  margin: 1em 0;
  padding: 1em 0;
  background-color: #000;
  color: #fff;
}
h1.title {
  text-align: center;
  text-transform: uppercase;
}
.timers {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1em;
}
